body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.tasks {
    display: flex;
    flex-direction: column;
}

.tasks label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-decoration: none;
}

.tasks label input[type="checkbox"] {
    margin-right: 10px;
    padding: 5px;
}

.deleteButton {
    background-color: red;
    color: aliceblue;
    border: aliceblue;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.deleteButton:hover {
    background-color: rgb(195, 60, 60);
}

.tasks label input[type="checkbox"]:checked+span {
    text-decoration: line-through;
}