<h2>Products</h2>

<div *ngFor="let product of products" class="item">
  <img [src]="product.imageSrc" />
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <div class="image-gallery">
    <p *ngIf="product.description">Description: {{ product.description }}</p>

    <p class="rating">Rating: {{ product.rating }}</p>
    <button type="button" (click)="share(product.itemLink)">Share</button>
  </div>
  <br />
  <p></p>
</div>
